#Edit this file to select which software will be installed
#The fields are ordered as follows:
#System arq OS Program Version Action

# 4.- Post second reboot (execute from root ssh session)
dwnldr armv7l raspbian 8 xinetd latest install OK
dwnldr armv7l raspbian 8 x11vnc latest install OK # Depends on xinetd and expect
dwnldr armv7l raspbian 8 x11vnc latest configure OK

dwnldr armv7l raspbian 8 ntfs latest install OK
dwnldr armv7l raspbian 8 samba latest install OK
dwnldr armv7l raspbian 8 vsftpd latest install OK
dwnldr armv7l raspbian 8 vsftpd latest configure OK

dwnldr armv7l raspbian 8 usermanager latest install OK # Depends on samba-install, vsftpd-setup and expect
dwnldr armv7l raspbian 8 usermanager latest configure OK

dwnldr armv7l raspbian 8 fstab latest configure OK # Depends on usermanager 
dwnldr armv7l raspbian 8 samba latest configure OK	

dwnldr armv7l raspbian 8 java 8 install OK
dwnldr armv7l raspbian 8 tomcat 8 install OK
dwnldr armv7l raspbian 8 tomcat 8 configure OK
dwnldr armv7l raspbian 8 guacamole latest install OK # Depends on tomcat 8
dwnldr armv7l raspbian 8 guacamole latest configure OK

dwnldr armv7l raspbian 8 transmission latest install OK
dwnldr armv7l raspbian 8 transmission latest configure OK

dwnldr armv7l raspbian 8 minidlna latest install OK
dwnldr armv7l raspbian 8 minidlna latest configure OK

dwnldr armv7l raspbian 8 vim latest install
dwnldr armv7l raspbian 8 meld latest install
dwnldr armv7l raspbian 8 tree latest install
dwnldr armv7l raspbian 8 ncdu latest install
dwnldr armv7l raspbian 8 nmap latest install
dwnldr armv7l raspbian 8 screen latest install
dwnldr armv7l raspbian 8 filezilla latest install
dwnldr armv7l raspbian 8 crontab latest configure

# 3.- Uninstall shit
dwnldr armv7l raspbian 8 scratch latest uninstall
dwnldr armv7l raspbian 8 sonic-pi latest uninstall
dwnldr armv7l raspbian 8 minecraft-pi latest uninstall
dwnldr armv7l raspbian 8 wolfram-engine latest uninstall
dwnldr armv7l raspbian 8 penguinspuzzle latest uninstall
dwnldr armv7l raspbian 8 smartsim latest uninstall
dwnldr armv7l raspbian 8 dillo latest uninstall
dwnldr armv7l raspbian 8 gpicview latest uninstall

