#Edit this file to select which software will be installed
#The fields are ordered as follows:
#System arq OS Program Version Action

##TODO##
# mis scripts? Musica, ytdl, rsstransm, etc 
# backup nube?
# aliases
########

# 1.- Install 2017-01-11-raspbian-jessie.img inside SD card with dd bs=4M if=2017-01-11-raspbian-jessie.img of=/dev/mmcblk0 && sync
# 2.- Install shit
dwnldr armv7l raspbian 8 sshd latest install OK
dwnldr armv7l raspbian 8 expect latest install OK
dwnldr armv7l raspbian 8 root-passwd latest configure OK
dwnldr armv7l raspbian 8 boot-config latest configure OK
dwnldr armv7l raspbian 8 hostname latest configure OK 
dwnldr armv7l raspbian 8 l18n latest configure OK 

#reboot (implement this as a feature)
