#Edit this file to select which software will be installed
#The fields are ordered as follows:
#System arq OS Program Version Action


# 1.- Go to https://console.cloud.google.com/compute/ and create an instance: Debian GNU/Linux 8 (jessie), allow http/s traffic
# 2.- Install shit
compute-engine x86_64 debian 8 expect latest install OK

compute-engine x86_64 debian 8 vsftpd latest install OK
compute-engine x86_64 debian 8 vsftpd latest configure OK

compute-engine x86_64 debian 8 openssl latest install OK
compute-engine x86_64 debian 8 authbind latest install OK
compute-engine x86_64 debian 8 tomcat 8 install #Falta incluir la customizacion del server.xml, abrir puertos
compute-engine x86_64 debian 8 tomcat 8 configure OK
compute-engine x86_64 debian 8 certbot latest install OK
compute-engine x86_64 debian 8 certbot latest configure OK
compute-engine x86_64 debian 8 mysql 5.5 install OK

compute-engine x86_64 debian 8 vim latest install
compute-engine x86_64 debian 8 tree latest install
compute-engine x86_64 debian 8 ncdu latest install
compute-engine x86_64 debian 8 nmap latest install
compute-engine x86_64 debian 8 screen latest install
compute-engine x86_64 debian 8 crontab latest configure

# 3.- Change password for main user (for ftp connections and such)
